<h2>Edit training lunch</h2>

<%= render "form.html", changeset: @changeset,
                        action: training_lunch_path(@conn, :update, @training_lunch) %>

<%= link "Back", to: training_lunch_path(@conn, :index) %>
